# Defaults as at version 3.2.8
# jobslist.date.format=M/d/yy h:mm a
# jobslist.date.format.ko=L LT
# jobslist.running.format.ko=LTS

jobslist.date.format=yyyy/MM/dd HH:mm z
jobslist.date.format.ko=YYYY/MM/DD HH:mm
jobslist.running.format.ko=HH:mm:ss
